*{
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	background: lightgrey;
	font-weight: 14px/20px Arial;
	color: #555;
	margin: 0;
}
section{
  width: 29%;
  float: left;
  margin: 7% 2%;
  text-align: center;
}
section img{
  height: 150px;
}
ul{
  list-style: none;
}
.current{
  color: red;
  text-decoration: none;
  font-weight: 600;
}
.clear{
  clear: both;
}
article{
  float: left;
  margin: 0 auto;
  width: 50%;
  height: auto;
  padding: 4%;
}
aside{
  float: right;
  margin: 0 auto;
  width: 35%;
  height: auto;
  padding: 3%;
}
ul.time li{
  padding-left: 5%;
  line-height: 0.5%;
}
footer{
  background: #333333;
  width:100%;
  overflow: hidden;
  opacity: 0.9;
}
.sclimg img{
  height: 240px;
}
footer section{
  background-color: #333333;
}
footer p ,footer h3{
  color: #fff;
}
footer p a{
  color: #fff;
  text-decoration: none;
}
ul.social li img{
  height: 50px;
}
ul.social li{
  display: inline;
}
footer.second{
  border-top: 1px solid #000000;
  background-color: #333333;
  max-height: 50px;
  text-align: center;
  opacity: 0.9;
}
.hero-banner  {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

}
.main-content-header{
	width: 80%;
	position: absolute;
	top: 15%;
	left:80%;
  margin-left: 30%;
	transform: translate(-80%,-60%);
  color: darkred;
}
.btn{
	display: inline-block;
	padding: 10px 30px;
	font-weight: lighter;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-full1{
	background-color: transparent;
	color: #bf55ec;
	margin-right: 15px;
	border: 1px solid #bf55ec;
}
.btn-full1:hover{
	background-color: #fff;
}
.btn-full2{
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff;
}
.btn-full2:hover{
	background-color: #bf55ec;
}
#logo{
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 300%;
  position: absolute;
  top: 5%;
  left:5%;
  margin-left: 7%;
  margin-top: 1%;
  transform: translate(-80%,-60%);
}
.topnav {
  border-collapse: collapse;
  overflow: hidden;
  background-color:rgba(99,99,99,0.78);
  background: rgba(99,99,99,0.78);
  background: -moz-linear-gradient(-45deg, rgba(99,99,99,0.78) 0%, rgba(115,115,115,0.78) 10%, rgba(133,133,133,0.81) 24%, rgba(92,92,92,0.84) 34%, rgba(56,56,56,0.86) 44%, rgba(0,0,0,0.89) 54%, rgba(23,23,23,0.91) 65%, rgba(56,56,56,0.94) 76%, rgba(36,36,36,0.98) 91%, rgba(23,23,23,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(99,99,99,0.78)), color-stop(10%, rgba(115,115,115,0.78)), color-stop(24%, rgba(133,133,133,0.81)), color-stop(34%, rgba(92,92,92,0.84)), color-stop(44%, rgba(56,56,56,0.86)), color-stop(54%, rgba(0,0,0,0.89)), color-stop(65%, rgba(23,23,23,0.91)), color-stop(76%, rgba(56,56,56,0.94)), color-stop(91%, rgba(36,36,36,0.98)), color-stop(100%, rgba(23,23,23,1)));
  background: -webkit-linear-gradient(-45deg, rgba(99,99,99,0.78) 0%, rgba(115,115,115,0.78) 10%, rgba(133,133,133,0.81) 24%, rgba(92,92,92,0.84) 34%, rgba(56,56,56,0.86) 44%, rgba(0,0,0,0.89) 54%, rgba(23,23,23,0.91) 65%, rgba(56,56,56,0.94) 76%, rgba(36,36,36,0.98) 91%, rgba(23,23,23,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(99,99,99,0.78) 0%, rgba(115,115,115,0.78) 10%, rgba(133,133,133,0.81) 24%, rgba(92,92,92,0.84) 34%, rgba(56,56,56,0.86) 44%, rgba(0,0,0,0.89) 54%, rgba(23,23,23,0.91) 65%, rgba(56,56,56,0.94) 76%, rgba(36,36,36,0.98) 91%, rgba(23,23,23,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(99,99,99,0.78) 0%, rgba(115,115,115,0.78) 10%, rgba(133,133,133,0.81) 24%, rgba(92,92,92,0.84) 34%, rgba(56,56,56,0.86) 44%, rgba(0,0,0,0.89) 54%, rgba(23,23,23,0.91) 65%, rgba(56,56,56,0.94) 76%, rgba(36,36,36,0.98) 91%, rgba(23,23,23,1) 100%);
  background: linear-gradient(135deg, rgba(99,99,99,0.78) 0%, rgba(115,115,115,0.78) 10%, rgba(133,133,133,0.81) 24%, rgba(92,92,92,0.84) 34%, rgba(56,56,56,0.86) 44%, rgba(0,0,0,0.89) 54%, rgba(23,23,23,0.91) 65%, rgba(56,56,56,0.94) 76%, rgba(36,36,36,0.98) 91%, rgba(23,23,23,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#636363', endColorstr='#171717', GradientType=1 );
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #66e717;
  font-size: 22px;
  color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    font-size: 22px;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
.search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .search-container {
    float: none;
  }
   .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
  .hero-banner{
    display: none;
  }
}
.boxed {
  border: 1px solid green ;
}
div.recent {
    background-color: whitesmoke;
    width: 110px;
    height: 110px;
    overflow: scroll;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
#background001 ,#background003{
border: 10px solid black ;
background-color: rgba(0,0,0,0.5);
text-align: center;
font-size: 125%;
color: yellow;
height: 300px;
width: 300px;
margin: 200px 20px 10px;
border-radius: 66px 64px 0px 20px;
-moz-border-radius: 66px 64px 0px 20px;
-webkit-border-radius: 66px 64px 0px 20px;
border: 8px double #1a071a;
-webkit-box-shadow: 0px 44px 77px -14px rgba(138,127,138,1);
-moz-box-shadow: 0px 44px 77px -14px rgba(138,127,138,1);
box-shadow: 0px 44px 77px -14px rgba(138,127,138,1);
}
#scroller1 {
  text-decoration-color: red;
  font-size: 50px;
  color: red;

}
.blinking{
     font-family: 'Montserrat', sans-serif;
    animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
    30%{     color: rgba(82,255,116,80);  }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: rgba(250,167,107,80);     }
}
.footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: black;
      color: white;
      text-align: center;
  }
  .content{
    font-size: 20px;
    color: black;


  }
  #mainline {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: bolder;
  }

.simple-subscription-form {
  background: #0c3e5f;
  color: #fefefe;
  padding: 2rem;
  border-radius: 0;
  font-size: 30px;

}

.simple-subscription-form .button {
  margin-bottom: 40px;
  border-radius: 0 0 0 0;
}
.input-group-field{
  height: 100%;
  width:20%;
}
.subscribe{
  font-size: 35px;
  font-weight: bolder;
  color: rgba(255,130,41,1);
}
#Contact {
  border: 1px solid black ;
  border-collapse: collapse;
  margin-bottom: 40%;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 40%;
  background-color: rgba(255,255,255,1);
  text-align: center;
  font-size: 125%;
  color: yellow;
  height: 350px;
  width: 700px;
  margin: 120px 10px;
  -webkit-box-shadow: 0px 44px 77px -14px rgba(138,127,138,1);
  -moz-box-shadow: 0px 44px 77px -14px rgba(138,127,138,1);
  box-shadow: 0px 44px 77px -14px rgba(138,127,138,1);
  }
  .card {
     background-color: ghostwhite;
     padding: 20px;
     margin-top: 20px;
     margin-bottom:40px;
     text-align: center;


}
.center{
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  color: red;
  font-display: fallback;
}
@media screen and (max-width: 1500px) {
  .main-content-header{
    display: none;
  }
  #scroller{
    font-size: 30px;
    font-style: cursive;
  }
  }
.available h1{
	text-align: center;
	font-size: 170%;
	line-height: 120%;
	padding: 5% 0;
}
.available h2{
	text-decoration: underline;
	line-height: 28%;
	padding-left: 2%;
}
.available h3{
	line-height: 110%;
	padding: 5% 0;
}
.available p{
	padding: 10%;
}

#newsletter{
  padding:15px;
}

#newsletter h1{
  float:left;
	color: green;

}

#newsletter form {
  float:right;
  margin-top:10px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}
.button_1{
	padding: 10px;
	font-weight:bold;
	color:floralwhite;
	border-radius: 10px;
	background-color: black;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

#contactform body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	background:black;
}

.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
#contactus{
	background-color: lightblue;
}
